@inherits LayoutComponentBase
@inject IJSRuntime JS

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    @if (IsUserLoggedIn)
    {
            <div class="sidebar">
                <NavMenu />
            </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsUserLoggedIn { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Update the login state when the component initializes
        await UpdateLoginState();
    }

    // Ensures the login state is set during the first render
    private async Task UpdateLoginState()
    {
        var currentUser = await JS.InvokeAsync<string>("localStorage.getItem", "currentUser");
        IsUserLoggedIn = !string.IsNullOrEmpty(currentUser);
    }
}
